<nav class="navbar">
    <form action="GET">
        <label for="">🔎 </label><input type="text" placeholder="Search..">
    </form>
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/authors">Authors</a>
    <a href="/downloads">Most downloaded</a>
</nav>